*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

li a {
    color: black;
}


.icon{
    color: white;
    padding-top: 23%;
}

.contenedor-icon{
    display: flex;
    justify-content: center;
    width: 22%;
    background: linear-gradient(144deg, #667eea 23%, #54c977 100%);
}

.gris{
    color: rgb(144, 144, 144);
}
body{
    margin: 0px 5%;
    background-color: #fafafa;
}
.contenedor-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.ul-img-mundo{
    display: flex;
    justify-content: space-evenly;
    width: 142%;
    padding-top: 5%;
}

.contenedor-izq{
    width: 22%;
    display: flex;
    justify-content: space-evenly;
}

.contenedor-der{
    width: 17%;
}

.box-border{
    border-radius: 14px;
}

.portada-top a {
    width: 13%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    background-color: #6acfa8;
}

/* .verder-agua{
} */
.portada-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 66%;
    height: 130px;
}
